{% extends 'base.html' %}

{% block content %}

<div class="card shadow-lg border-0">

    <div class="card-body p-4">

        <h2 class="fw-bold mb-4">
            🤖 GenAI IT Service Desk Assistant
        </h2>


        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">

                <input
                    type="text"
                    name="query"
                    class="form-control form-control-lg"
                    placeholder="Describe your issue..."
                    required>

            </div>


            <button
                type="submit"
                class="btn btn-primary">

                Ask Assistant

            </button>

        </form>


        {% if response %}

        <hr class="my-4">


        <div class="mb-3">

            <h4 class="text-primary fw-bold">
                🤖 AI Analysis
            </h4>


            <small class="text-muted">
                Source: {{ source }}
            </small>

        </div>


        {% if category %}

        <div class="alert alert-info">

            <b>Category:</b> {{ category }}

        </div>

        {% endif %}



        <div class="card border-primary shadow-sm">

            <div class="card-body">


                <div style="
                    white-space: pre-wrap;
                    line-height: 1.8;
                    font-size: 15px;
                ">

                    {{ response }}

                </div>


            </div>

        </div>



        {% elif error %}


        <hr class="my-4">


        <h4 class="text-danger fw-bold">

            ❌ Unable To Generate Solution

        </h4>


        <div class="alert alert-danger">

            {{ error }}


            <hr>


            <a
                href="/create/"
                class="btn btn-danger">

                Create Incident

            </a>


        </div>


        {% endif %}



    </div>

</div>


{% endblock %}